

img{width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    object-fit: cover;
}

.container {
    background-color: rgb(64, 141, 192);
    height: 200px;
    margin-top: 60px;
    padding: 30px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

.boite1 {
    width: 33%;
    height: 150px;
    border: solid 2px rgb(196, 120, 231);
}

.boite2 {
    width: 40%;
    height: 150px;
    border: solid 2px rgb(196, 120, 231);
}

.boite3 {
    width: 33%;
    height: 150px;
    border: solid 2px rgb(196, 120, 231);
}


.container2 {
    display: flex;
}

